*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: inherit;
}

:root{
  --color-black: #1F2326;
  --color-gray: #505155;
  --color-dark-gray: #292C31;
  --color-light-gray: #EFEFEF;
  --color-red: #FF4656;
  --color-white: #F8F8F8;
}